# dependencies
node_modules/

# env files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# uploads (if local storage used)
uploads/
Backend/uploads/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
